



<nav class="navbar navbar-expand-lg navbar-light"  style="background-color:  rgba(0, 128, 130, 0.3);"    >

<div class="navbar-header">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


 <%= link_to "hola", root_path , class:"navbar-brand" %>

</div>



  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" <%= link_to "Inicio", root_path %><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"    <%= link_to "Nosotros", about_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>

  </div>

 </nav>
